@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=block');

@import '~bootstrap/scss/bootstrap';

.text {

  &-username {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    color: #181A2B;

    @include media-breakpoint-down(lg) {
      font-size: 13px;
      line-height: 135%;
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 135%;
    }
  }
}
